<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>http://tureng.com/en/turkish-english/{popclip text}</string>
			<key>Title</key>
			<string>Tureng</string>
			<key>Image File</key>
			<string>tureng.png</string>
			<key>Regular Expression</key>
			<string>[A-Za-z]+((\s[A-Za-z])?[A-Za-z])*</string>
			<key>Pass HTML</key>
			<false/>
			<key>Restore Pasteboard</key>
			<true/>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.tureng.sozlukosx</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://tureng.com/en/turkish-english/</string>
			<key>Name</key>
			<string>Tureng</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Translate an English word to Turkish using Tureng</string>
	<key>Extension Identifier</key>
	<string>com.ayasinakalin.popclip.extension.tureng</string>
	<key>Extension Name</key>
	<string>Tureng</string>
	<key>Required Software Version</key>
	<integer>1459</integer>
</dict>
</plist>
